<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <header>
        <nav>
            <ul>
                <li><a href="{% url "create_account" %}">Create Account<a></li>
            </ul>
        </nav>
    </header>
    <table>
        <thead>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
        </thead>
        <tbody>
            {%for acc in account_list%}
            <tr>
                <td>{{acc.name}}</td>
                <td>{{acc.number}}</td>
                <td>{{acc.receipts.all|length}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>
</html>
