<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url "create_category" %}">Create Category<a></li>
            </ul>
        </nav>
    </header>
    <table>
        <thead>
            <th>Name</th>
            <th>Number of Receipts</th>
        </thead>
        <tbody>
            {% for categ in category_list.all %}
            <tr>
                <td>{{categ.name}}</td>
                <td>{{categ.receipts.all|length}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
