{% comment %} {% extends 'base.html' %}
{% block title %} loging page {% endblock title %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% comment %} {% block content%} {% endcomment %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </thead>
            <tbody>
                {% for rec in receipt.all %}
                <tr>
                    <td>{{rec.vendor}}</td>
                    <td>{{rec.total}}</td>
                    <td>{{rec.tax}}</td>
                    <td>{{rec.date| date:"m/d/y "}}</td>
                    <td>{{rec.category.name}}</td>
                    <td>{{rec.account.name}}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>


    </main>
    {% comment %} {% endblock content%} {% endcomment %}
</body>
</html>
